version: '3.8'
services:
  api:
    build: ./api
    ports:
      - "3000:3000"
    env_file: .env
  web:
    build: ./web
    ports:
      - "3001:3000"
    env_file: .env
  db:
    image: postgres:14
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: smartfarm
    ports:
      - "5432:5432"
